* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
header {
  height: 10vh;
  background-color: black;
}
.container {
  height: 40vh;
  width: 50vw;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
button {
  background-color: brown;
  color: aliceblue;
  border-radius: 10%;
  border: none;
  padding: 3px 12px;
  transition: 0.3s all;
  cursor: pointer;
}
button:hover {
  background-color: rgb(255, 0, 0);
}
#minhaNovaDiv span {
  color: red;
  font-size: 20px;
}
